1)Install Python and Django framework
2)Go to the path of python and keep your django setup there
3)Then open commandprompt inside pythonpath,
cd/your/path/to/python
4)Then unzip this project
5)After unzipping create database name- "userdb"
6)And run this commands,
--python manage.py makemigrations
--python manage.py migrate
--python manage.py check
7)After that run this commands,
--python manage.py runserver 8080